body {
    background-color: #fefbef;
    color:  #180d1b;
    text-align: center;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;   
}

.jumbotron {
    background-color: #ab70b7;
    margin: 0px;
}

h1 {
    font-family: 'Varela Round', sans-serif;'
}

.navbar {
    background-color: #904f9d;
}
.navbar-nav li {
    font-size: 1.3em;
}

#nav-login-btn {
    display: block;
}

a:hover {
    text-decoration: none;
}

.comparison {
    padding-top: 10%;
    width: 100%;
}

.comparison form {
    padding-top: 10%;
}

.compare-left, .compare-right {
    position: relative;
    display: inline-block;
    width: 40%;
    height: 100%;
}

.compare-left {
    border-right: solid 1px black;
    padding-right: 10%;

}

.compare-right {
    float: right;
}

.results {
    display: none;
}

#result-text h3 {
    line-height: 2em;
    padding: 2%;
}

#result-btns button {
    margin: 1%;
}

#result-visual {
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

#result-visual img {
    width: 10%;    
    padding: 1.5%;
}

/* Sliding Wish List */
.wishlist {
    text-align: left;
    color: #e1cbe5;
    background-color: #140D26;
    position: fixed;
    width: 0;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0.9;
    overflow-x: hidden;
    transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wishlist-header {
    text-align: center;
    padding-bottom: 2%;
}

.wishlist a {
    color: #e1cbe5;
    font-size: 1.2em;
}

.wishlist a:hover {
    color: #f8f2f9;
}

.wishlist li {
    /* list-style: none; */
    padding: 2.5%;
}

#exit-list-btn {
    display: block;
    text-align: right;
    font-size: 3em;
    padding-right: 5%;
    padding-top: 1%;
    width: 350px;
}

#result-btns, #logout-btn, #wish-list-btn {
    display: none;
}








