body {
 background-color: #fefbef;
}

.jumbotron {
    background-color: #ab70b7;
}

.comparison {
    float: left;
    border: solid pink 1px;
    width: 100%;
    height: 200px;
}

.compare-left, .compare-right {
    text-align: center;
    width: 50%;
    height: 100%;
    float: left;
}

.compare-left {
    border: solid blue 1px;
}

.compare-right {
    border: solid green 1px;
}